.card {
  padding: 2.4rem;
  max-width: 77.3rem;
  background-color: var(--clr-white);
  border: 0.1rem solid var(--clr-grey-200);
  border-radius: 1.2rem;
  display: grid;
  grid-template-columns: 1fr 2.4rem;
  gap: 1rem;
  cursor: pointer;
}

.card-info__wrapper {
  display: grid;
  gap: 1.6rem;
}

.card-title {
  font-size: 2rem;
  font-weight: var(--font-weight-semibold);
  color: var(--clr-blue-500);
}

.card-payment {
  font-weight: var(--font-weight-semibold);
}

.card-delimiter {
  margin-inline: 1.2rem;
  color: var(--clr-grey-600);
}

.card-location {
  position: relative;
  padding-left: 2.8rem;
}

.card-location::before {
  content: '';
  width: 2rem;
  height: 2rem;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(/src/assets/icons/location.svg);
  background-size: cover;
  background-repeat: repeat;
}
