.main-list {
  max-width: var(--desktop-max-w);
  margin-block: 4rem 1.6rem;
  margin-inline: auto;
  padding-inline: 1.2rem;
  display: grid;
  grid-template-columns: 31.5rem 1fr;
  gap: 2.8rem;
}

.list-container {
  display: grid;
  gap: 1.6rem;
}

.filling-container {
  width: 100%;
  height: calc(100vh - var(--header-h));
  display: grid;
  place-content: center;
  background-color: var(--clr-bg);
}

@media screen and (max-width: 800px) {
  .main-list {
    min-width: var(--mobile-min-w);
    margin-top: 1.6rem;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.6rem;
  }
}
